@charset "utf-8";

body {
  margin: 0px;
  padding: 5px;
  color: #000080;
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 14px;
  line-height: 2;
  background: #fff url(../images/background.jpg) no-repeat center center fixed;
  background: #fff url(../images/background.jpg) no-repeat center center/cover fixed;
  -webkit-text-size-adjust: 100%;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
}
img {
  border: none;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a:hover img {
  opacity: 0.6;
}
table {
  border-collapse: collapse;
  font-size: 100%;
  border-spacing: 0;
}
iframe {
  width: 100%;
}

h2 {
  clear: both;
  margin-bottom: 15px;
  color: #fff;
  padding: 5px 20px;
  background: #0000ff;
  border-radius: 4px;
}

#container {
  max-width: 900px;
  margin: 3% auto 20px ;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 2%;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 3);
  overflow: hidden;
}

.output_rogo {
  width: 150px;
  height: 150px;
}

.seikabutu_ss {
  width: 70%;
  height: 40%;
}

header {
  text-align: center;
}

#logo img {
  width: 100%;
  max-width: 1500px;
}

#new dl {
  padding-left: 20px;
  margin-bottom: 15px;
}

#new dt {
  font-weight: bold;
  float: left;
  width: 8em;
}

#new dd {
  padding-left: 8em;
}